

  <nav class="navbar navbar-expand-sm bg-danger navbar-light ">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="https://tse3.mm.bing.net/th?id=OIP.SDn8C_Idcj3nppCl1b1pKwHaHp&pid=Api&P=0&w=300&h=300" alt="logo" style="width:8px;">
  </a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink='home'>HOME</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" routerLink=' menu'>MENU</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='specials'>SPECIALS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='gallery'>GALLERY</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='order'>ORDER</a>
    </li>
  </ul>
</nav>
<!-- carsoal -->
 
      



<router-outlet></router-outlet>
