
/* *{ */
    /* margin: 0; */
 /* padding: 0;    */
/* } */
    
/* .h1{
    background-image: url("http://3.bp.blogspot.com/-qe2mCjT-31A/TxLSka19F-I/AAAAAAAAAL0/W7NqSxbHTBk/s1600/IMG_3268_2_2+%25282%2529.jpg");
    width: 100%;
    height: 100%;

} */
/* 
.carousel-inner{
     height: 300px;
 }

 .item, img{
     height: 100% !important;
     width:  100% !important;
     border: 1px solid red;
 } */
